.container{
    margin-top: 150px;
    flex-direction: row;
}

.brdr{
    border: 2px solid #084298 ;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    

}

.col2{
    background-color: rgb(46, 43, 43);
     
}

html{
    align-items: center;
    justify-content: center;
}

body{
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex !important; 
    flex-direction: row !important;;
}

.rm{
    margin-right: 10px;
}

.lm{
    margin-left: 10px;
}